/* =====================
   RESET TOTAL
===================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
}

/* =====================
   BODY + BACKGROUND
===================== */
body {
  font-family: Arial, sans-serif;
  color: #ffffff;

  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}

/* =====================
   HEADER ATAS
===================== */
.top-header {
  width: 100%;
  background: #000;
}

.top-header img {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
