*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0d0d0d;
color:#fff;
}

/* HEADER */
.header{
position:sticky;
top:0;
background:#111;
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 18px;
z-index:999;
}

.logo{
font-weight:bold;
font-size:18px;
}

.menu-btn,.search-btn{
font-size:22px;
cursor:pointer;
}

/* SECTION TITLE */
.section-title{
margin:24px 20px 14px;
font-size:18px;
font-weight:bold;
}

/* GRID PRODUK 3 KOLOM */
.popular{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:14px;
padding:0 20px 20px;
}

/* CARD IMAGE ONLY */
.pop-card{
display:block;
background:#161616;
border-radius:16px;
overflow:hidden;
transition:0.2s;
}

.pop-card img{
width:100%;
display:block;
object-fit:cover;
}

/* EFFECT */
.pop-card:active{
transform:scale(0.97);
}

/* SLIDER */
.slider{
margin:20px;
overflow:hidden;
border-radius:18px;
}

.slide{
width:100%;
display:none;
}

.slide.active{
display:block;
}

/* FOOTER */
footer{
background:#111;
padding:24px;
text-align:center;
margin-top:40px;
}

.sosmed a{
margin:0 10px;
color:#fff;
text-decoration:none;
font-size:14px;
                             }
