*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#000;
color:#fff;
}

/* HEADER */
.header{
position:sticky;
top:0;
background:#111;
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 18px;
z-index:999;
}

.logo{
font-weight:bold;
font-size:18px;
cursor:pointer;
}

.menu-btn,.search-btn{
font-size:22px;
cursor:pointer;
}

.right-header{
display:flex;
align-items:center;
gap:14px;
}

/* SIDEBAR */
.sidebar{
position:fixed;
left:-260px;
top:0;
width:260px;
height:100%;
background:#111;
padding:20px;
transition:.3s;
z-index:1000;
}

.sidebar.show{
left:0;
}

.sidebar a{
display:block;
margin:18px 0;
color:#fff;
text-decoration:none;
}

.close-btn{
text-align:right;
font-size:22px;
cursor:pointer;
}

/* SEARCH */
.search-box{
display:none;
padding:10px 20px;
background:#111;
}

.search-box.show{
display:block;
}

.search-box input{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#222;
color:#fff;
}

/* SLIDER */
.slider{
margin:20px;
overflow:hidden;
border-radius:18px;
}

.slide{
width:100%;
display:none;
}

.slide.active{
display:block;
}

/* TITLE */
.section-title{
margin:20px;
font-size:20px;
font-weight:bold;
}

/* POPULER */
.popular{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:14px;
padding:0 20px;
}

.pop-card{
display:flex;
align-items:center;
gap:10px;
background:#1a1a1a;
padding:12px;
border-radius:14px;
text-decoration:none;
color:#fff;
}

.pop-card img{
width:60px;
border-radius:12px;
}

/* KATEGORI */
.kategori{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:12px;
padding:20px;
}

.kategori div{
background:#1a1a1a;
padding:14px;
text-align:center;
border-radius:12px;
}

/* PRODUK */
.produk{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:14px;
padding:20px;
}

.produk img{
width:100%;
border-radius:16px;
}

/* FOOTER */
footer{
background:#111;
padding:20px;
text-align:center;
margin-top:30px;
}

.sosmed a{
margin:0 10px;
color:#fff;
text-decoration:none;
}
